/*Centro de biotecnologia Agropecuario
Análisis y Desarrollo de Software 
Ficha: 2470980
Autor: Sara Katherine Fuya Caceres 
Fecha de creación: 16 de febrero 2022
Fecha de actualización: 23 de febrero 2022 */

body{
    background-color: rgb(238, 9, 142);
    }
    /*Aca utilizamos background-color, para cambiar el fondo de mi página*/
    
    .JJ{
        color: hsl(60, 43%, 99%);
        font-size: large;
        font-family: monospace;
    /*Aca se utiliza tanto "color", como font-size, y font-family, para dar color a la letra de nuestra pagina y anchura.*/
    }
    
    #container{
        width: 1000px;
        height: 500px;
        background-color: hsla(291, 23%, 40%, 0.884);
        margin-left: auto;
        margin-right: auto;
    /*El container es el que nos ayuda a centrar y colocar un cuadro el cual nos de una vista centrada de lo que tenemos expuesto.*/
    }