/*Centro de biotecnologia Agropecuario
An치lisis y Desarrollo de Software 
Ficha: 2470980
Autor: Sara Katherine Fuya Caceres 
Fecha de creaci칩n: 16 de febrero 2022
Fecha de actualizaci칩n: 23 de febrero 2022 */

body{
    background-color: rgb(117, 122, 42);
    }
    /*Aca utilizamos background-color, para cambiar el fondo de mi p치gina*/
    
    .lluvia{
        color: hsl(60, 43%, 99%);
        font-size: large;
        font-family: monospace;
    /*Aca se utiliza tanto "color", como font-size, y font-family, para dar color a la letra de nuestra pagina y anchura.*/
    }
    
    #container{
        width: 1000px;
        height: 500px;
        background-color: hsla(56, 93%, 50%, 0.884);
        margin-left: auto;
        margin-right: auto;
    /*El container es el que nos ayuda a centrar y colocar un cuadro el cual nos de una vista centrada de lo que tenemos expuesto.*/
    }